<!-- Bootstrap-styled Menu Content -->
<ul class="nav row">
  <ng-container *ngFor="let item of items; let isFirst = first" class="text-success">
    <ng-container *ngIf="item.label == 'Profil'; else notProfile">

      <li class="nav-item text-decoration-none bg-success-subtle text-success-emphasis ">
        <a *ngIf="userProfile" class="nav-link active text-success-emphasis" [routerLink]="['/profile', userProfile.id]">
          <img [src]="userProfile.profileImage" alt="Profilbild" class="img-thumbnail">
          <p>{{ userProfile.username }}</p>
        </a>
      </li>
    </ng-container>

    <ng-template #notProfile>
      <li class="nav-item text-decoration-none bg-success-subtle text-success-emphasis ">
        <a class="nav-link active text-success" href="{{item.link}}">{{item.label}}</a>
      </li>
    </ng-template>
  </ng-container>
</ul>
