hr {
    border: 0;
    width: 15rem;
    box-sizing: border-box;
    height: 2px;

    background-image: linear-gradient(to right,
    /*rgba(0, 0, 0, 0),*/
    rgb(25, 134, 83),
    rgba(0, 0, 0, 0));

}

.image-container {
    position: relative;
    width: 6rem;
    height: 6rem;
}
